:root {
    --shadow: 5px 5px 5px #c2b5b786;
    --shadowReverse: inset 0px 0px 5px #c2b5b786;
    --colorLight: #F5E3E0;
    --colorLightMid: #E8B4BC;
    --colorMid: #D282A6;
    --colorHighMid: #6E4555;
    --colorHigh: #3A3238;
}

h2 {
    margin-bottom: 10px;
}

.firstLinks a:hover, .secondLinks a:hover {
    background-color: var(--colorLightMid);
    text-decoration: none;
    color: var(--colorHigh);
    font-weight: bold;
    font-size: large;
}

.firstLinks, .secondLinks {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.firstLinks a, .secondLinks a {
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: var(--colorLight);
    font-weight: bold;
    font-size: large;
}


* {
    padding: 0;
    margin: 0;
    font-style: var(--colorLight);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body {
    background-color: var(--colorLight);
}


.content {
    display: grid;
    grid-template-columns: auto 2fr;
    grid-template-rows: auto;
    max-width: 100%;
}

.title {
    text-align: center;
}

.header {
    background-color: var(--colorMid);
    display: grid;
}

.sidebar {
    background-color: var(--colorHighMid);
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
    min-height: 100vh;

}

.sidebarLinks {
    display: grid;
    grid-template-rows: repeat(2, clamp(100px, 50%, 400px));
    text-align: left;
}

.mainContent {
    display: grid;
    background-color: var(--colorLight);
    grid-template-columns: 3fr auto;
}

.projectArea {
    display: grid;
    grid-template-columns: repeat(auto-fit, 325px);
    grid-template-rows: repeat(3, 225px);
    justify-content: center;
    
}

.project {
    padding: 12px;
    margin: 12px;
    border-left: solid 12px var(--colorHighMid);
    background-color: var(--colorLightMid);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
}


.projectHeader {
    align-self: center;
}

.icons {
    display: flex;
    justify-content: flex-end;
}

.icons > * {
    margin-left: 5px;
}

.announcementArea {
    grid-column: 2 / 3;
}

.announcementBox, .trendingBox {
    padding: 12px;
    background-color: var(--colorLightMid);
    border-radius: 10px;
}

.announcement {
    padding: 12px;
    text-align: center;
}

.trending {
    padding: 12px;
    text-align: center;
    display: flex;
}

.topHeaderArea {
    display: grid;
    grid-template-columns: 1fr auto;
}

.bottomHeaderArea {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.userAccountInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.userAccountSection {
    display: flex;
    margin: 10px;
    padding: 10px;
}

.userAccountSection > * {
    margin: 10px;
}

.mainArea {
    display: grid;
    grid-template-rows: auto;
}

.searchArea {
    margin: 20px;
}

.searchBar {
    border-radius: 20px;
    border: none;
    height: 20px;
    min-width: 40px;
    width: 300px;
    background-color: var(--colorLight);
}

   
.title {
    margin: 20px;
}

.userAccountInfo, .buttonArea {
    margin: 10px;
}

.buttonArea {
    display: flex;
    justify-content: right;
}

.buttonArea > button {
    margin-left: 20px;
    padding: 15px;
}

button {
    background-color: var(--colorHighMid);
    border-style: none;
    border-radius: 30px;
    padding: 10px;
    color: var(--colorLight);
}

.rightSide {
    margin: 12px;
}

.project, .announcementBox, .trendingBox, .header {
    box-shadow: var(--shadow);
    margin-bottom: 10px;
}

.projectAreaHolder {
    margin-top: 10px;
    margin-left: 10px;
}

.announcement:not(:last-child), .trending:not(:last-child) {
    border-bottom: dotted var(--colorLight);
}

.trending > img {
    margin-right: 10px;
    border-radius: 50%;
    border: solid 3px var(--colorHighMid)
}

.trending > div > p {
    text-align: left;
    margin: 10px;
}

.userAccountInfo {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.icons > * {
    padding: 5px;
    background-color: var(--colorLight);
    border-radius: 15px;
}


button:hover {
    background-color: var(--colorLightMid);
    box-shadow: var(--shadow);
    color: var(--colorHigh);
}


.icons > *:active, button:active {
    background-color: var(--colorHighMid);
    color: var(--colorLight);
    box-shadow: var(--shadowReverse);
}