* {
    padding: 0;
    margin: 0;
}

body {
    background-color: lightblue;
}

img {
    width: 30px;
}

.content {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
    max-width: 100%;
}

.title {
    text-align: center;
}

.header {
    background-color: lightgreen;
    display: grid;
}

.sidebar {
    background-color: lightblue;
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

.firstLinks, .secondLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
}

.sidebarLinks {
    display: grid;
    grid-template-rows: repeat(2, clamp(10px, 50%, 300px));
}

.mainContent {
    display: grid;
    background-color: lightcoral;
    grid-template-columns: 3fr auto
}

.projectArea {
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    grid-template-rows: repeat(auto-fit, 250px);
    justify-content: center;
}

.project {
    border-style: dotted;
    padding: 12px;
    margin: 12px;
    background-color: antiquewhite;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icons {
    display: flex;
    justify-content: flex-end;
}

.icons > * {
    margin-left: 5px;
}

.announcementArea {
    grid-column: 2 / 3;
    background-color: paleturquoise;
}

.anouncementBox, .trendingBox {
    padding: 20px;
    background-color: aliceblue;
    margin: 15px;
    border-radius: 5px;
}

.accountment {
    border-style: dotted;
    padding: 12px;
    margin: 12px;
    background-color: antiquewhite;
    text-align: center;
}

.trending {
    border-style: dotted;
    padding: 12px;
    margin: 12px;
    background-color: antiquewhite;
    text-align: center;
    display: flex;
}

.trendingArea {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: lightyellow;
}

.topHeaderArea {
    display: grid;
    grid-template-columns: 2fr auto;
}

.bottomHeaderArea {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.userAccountInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.userAccountSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.mainArea {
    display: grid;
    grid-template-rows: 1fr 6fr;
    height: 100vh;
}

.searchArea {
    margin: 20px;
}

.searchBar {
    border-radius: 20px;
    border: none;
    height: 20px;
    min-width: 40px;
    width: 300px;
}

.userAccountSection {
    margin: 10px;
}

.userAccountInfo, .buttonArea {
    margin: 10px;
}

button {
    background-color: green;
    border-style: none;
    border-radius: 30px;
    padding: 10px;
}