* {
    padding: 0;
    margin: 0;
}

img {
    width: 30px;
}

.content {
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
}

.header {
    background-color: lightgreen;
    display: grid;
}

.sidebar {
    background-color: lightblue;
    display: grid;
    grid-template-rows: auto 1fr;
}

.firstLinks, .secondLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.sidebarLinks {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.mainContent {
    display: grid;
    background-color: lightcoral;
    grid-template-columns: 5fr 1fr
}

.projectArea {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, clamp(50px, 50%, 300px));
    grid-row: 1/3;
    justify-content: center;
    align-content: center;
}

.project {
    border-style: dotted;
    padding: 12px;
    margin: 12px;
    background-color: antiquewhite;
    text-align: center;
}

.announcementArea {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: paleturquoise;
}

.announcement {

}

.trendingArea {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: lightyellow;
}

.topHeaderArea {
    display: grid;
    grid-template-columns: 2fr auto;
}

.bottomHeaderArea {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.userAccountInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.userAccountSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.mainArea {
    display: grid;
    grid-template-rows: 1fr 10fr;
    height: 100vh;
}